/* .chat_window{
    height: calc(100vh - 120px);
}
ul.messages{
    height: calc(100vh - 250px);
}

ul.messages li.message .text {
    color: black !important;
    min-height:16px;
    font-weight: inherit;
}

#msg_input{
    color: black;
} */

.message-list {
    display: flex;
    flex-direction: column;
}

.message-list > .message {
    display: flex;
    margin-top: 2rem;
}

.message-list > .message.-left {
    align-self: flex-start;
}

.message-list > .message.-right {
    align-self: flex-end;
}

.message-list > .message > .nes-balloon {
    max-width: 550px;
}
